aside{
    width: 320px;
    background: #084D6E;
    box-shadow: 0 0 14px 0 rgba(0, 0,0, 0.2);
    border-radius: 2px;
    padding: 30px 20px;
    float: right;

}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color:rgb(242, 240, 247);
}


aside form {
    margin-top: 10px;
}

aside form .input-block + .input-block {
    margin-top: 15px;
}

aside form .input-group {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1lf 1lf;
}


aside form .input-group .input-block {
    margin-top: 0;
  }


aside form .input-block label {
    color: #DCDCDC;
    font-size: 13px;
    font-weight:normal;
    display: block;

}

aside form .input-block input {
width: 100%;
height: 32px;
font-size: 13px;
color: #DCDCDC;
border: 0;
border-bottom: 1px solid #DCDCDC;
}

aside form button[type="submit"] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #140629;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background .5s;
  }
  
  aside form button[type="submit"]:hover {
    background: #5173b3;
  }