@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    text-align-last: center;
    margin: 12px;
    padding: 1px;
    outline: 0;
    box-sizing: border-box;
}

html,body, #root {
    height: 100%;
}

body {
    background:#C0C0C0;
    color:#dcdcdc;
    -webkit-font-smoothing: antialiased;
}

body, input, button{
    font-family: Roboto, sans-serif;
}